.showNamesContainer{
    display: flex;
    flex-direction: column;
}


.selectPlay{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.selectPlay select{
    margin-bottom: 1rem;
}

.selectPlay button{
    border: 0px;
    background-color: rgb(99, 111, 125);
    color: rgb(225, 224, 224);
    width: 70px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.showPlay{
    font-size: 20px;
}